@layer base, utils;

@layer base {
  :root {
    --gr33n: 0 255 0;
    
    --white: 255 255 255;
    --neutral-25: 253 253 253;
    --neutral-50: 250 250 250;
    --neutral-200: 229 229 229;
    --neutral-400: 191 191 191;
    --neutral-500: 115 115 115;
    --neutral-800: 38 38 38;
    --neutral-900: 25 25 25;
    --neutral-925: 20 20 20;
    --neutral-950: 15 15 15;

    --blue-25: 242 254 255;
    --blue-50: 235 252 255;
    --blue-100: 227 251 255;
    --blue-200: 194 244 255;
    --blue-300: 133 227 255;
    --blue-400: 71 209 255;
    --blue-500: 0 191 255;
    --blue-600: 0 169 255;
    --blue-700: 0 144 230;
    --blue-800: 0 114 184;
    --blue-900: 0 84 133;
    --blue-950: 0 45 71;

    --space-1\/2: calc(var(--space) / 2);
    --space: .25rem;
    --space-2x: calc(var(--space) * 2);
    --space-3x: calc(var(--space) * 3);
    --space-4x: calc(var(--space) * 4);
    --space-5x: calc(var(--space) * 5);
    --space-6x: calc(var(--space) * 6);
    --space-7x: calc(var(--space) * 7);
    --space-8x: calc(var(--space) * 8);
    --space-9x: calc(var(--space) * 9);
    --space-10x: calc(var(--space) * 10);
    --space-11x: calc(var(--space) * 11);
    --space-12x: calc(var(--space) * 12);
    --space-13x: calc(var(--space) * 13);
    --space-14x: calc(var(--space) * 14);
    --space-15x: calc(var(--space) * 15);
    --space-16x: calc(var(--space) * 16);
    --space-17x: calc(var(--space) * 17);
    --space-18x: calc(var(--space) * 18);

    --app-bg: var(--blue-50);
    --app-fg: var(--neutral-950);

    --keyline: var(--neutral-200);
    --glitch: var(--gr33n);
    --heading: var(--neutral-500);

    --focus: var(--gr33n);

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    --wrapper-max: 1024px;
    --wrapper-px: var(--space-5x);

    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;

    --tracking-tight: -.05em;
    --tracking-wide: .05em;
    --tracking-wider: .1em;
    --tracking-widest: .2em;

    --spacer: var(--space-6x);
    --spacer-sm: var(--space-4x);

    &[data-theme=mono] {
      --app-bg: var(--neutral-400);
      --app-fg: var(--neutral-950);

      --keyline: var(--neutral-600);
      --heading: var(--neutral-800);
    }

    &[data-theme=gr33n] {
      --app-bg: var(--gr33n);
      --app-fg: var(--neutral-950);

      --heading: var(--neutral-950);

      --glitch: var(--white);
      --heading: var(--neutral-950);
      
      --focus: var(--white);
    }

    @media (width >= 720px) {
      --spacer: var(--space-8x);
    }
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    block-size: 100%;
  }

  body {
    background-color: rgb(var(--app-bg) / 100%);
    color: rgb(var(--app-fg) / 100%);
    display: flex;
    flex-direction: column;
    font-family: var(--font-mono), monospace;
    letter-spacing: var(--tracking-wide);
    line-height: 1.5;
    min-block-size: 100%;
  }

  :where(button) {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
  }

  :where(*:focus-visible) {
    background-color: rgba(var(--focus) / 100%);
    outline: none;
  }
}

@layer utils {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .paused {
    animation-play-state: paused;
  }

  .link {
    text-decoration: underline;
    text-underline-offset: .2em;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }  
  }

  .list {
    list-style-position: inside;
    list-style-type: none;

    > li {  
      &::marker {
        content: '+ ';
      }
    }
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}