@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gr33n-100: 0 255 0;
    
    --neutral-50: 250 250 250;
    --neutral-200: 229 229 229;
    --neutral-500: 115 115 115;
    --neutral-800: 38 38 38;
    --neutral-950: 10 10 10;

    --space-1\/2: 2px;
    --space: 4px;
    --space-2x: calc(var(--space) * 2);
    --space-3x: calc(var(--space) * 3);
    --space-4x: calc(var(--space) * 4);
    --space-5x: calc(var(--space) * 5);
    --space-6x: calc(var(--space) * 6);
    --space-7x: calc(var(--space) * 7);
    --space-8x: calc(var(--space) * 8);
    --space-9x: calc(var(--space) * 9);
    --space-10x: calc(var(--space) * 10);
    --space-11x: calc(var(--space) * 11);
    --space-12x: calc(var(--space) * 12);
    --space-13x: calc(var(--space) * 13);
    --space-14x: calc(var(--space) * 14);
    --space-15x: calc(var(--space) * 15);
    --space-16x: calc(var(--space) * 16);
    --space-17x: calc(var(--space) * 17);
    --space-18x: calc(var(--space) * 18);

    --app-bg: rgb(var(--neutral-50) / 100%);
    --app-fg: rgb(var(--neutral-950) / 100%);

    --keyline: var(--neutral-200);

    &[data-theme=dark] {
      --app-bg: rgb(var(--neutral-950) / 100%);
      --app-fg: rgb(var(--neutral-50) / 100%);

      --keyline: var(--neutral-800);
    }
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .paused {
    animation-play-state: paused;
  }

  .link {
    @apply underline decoration-from-font underline-offset-2 hover:no-underline;
  }
}


@layer components {
  .body-link {
    text-decoration: underline;
    text-underline-offset: .2em;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .body-list {
    list-style-position: inside;
    list-style-type: none;

    > li {  
      &::marker {
        content: '+ ';
      }
    }
  }
}