@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gr33n: 0 255 0;

    --app-bg: theme(colors.white);
    --app-fg: theme(colors.neutral.950);
    --keyline: theme(colors.neutral.200);

    &[data-theme=dark] {
      --app-bg: theme(colors.neutral.950);
      --app-fg: theme(colors.neutral.100);
      --keyline: theme(colors.neutral.800);
    }
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .paused {
    animation-play-state: paused;
  }

  .link {
    @apply underline decoration-from-font underline-offset-2 hover:no-underline;
  }
}
